/* Застосовуємо зміну прозорості при наведенні на елемент з класом "up" */
img.up {
  opacity: 0.5; /* Початкова прозорість (50%) */
  transition: opacity 0.3s; /* Додамо плавний перехід */
}

/* Змінюємо прозорість на 100% при наведенні (hover) */
img.up:hover {
  opacity: 1; /* Змінюємо прозорість на 100% при наведенні */
}
